body {
    background-color: black;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
h1 {
    font-family: fantasy;
    letter-spacing: 1px;
    font-weight: lighter;
    color: rgb(0, 255, 170);
    text-align: center;
    margin-bottom: 20px;
}
img {
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 255, 170, 0.5);
    margin-bottom: 20px;
}
button {
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgb(0, 255, 170);
    background-color: black;
    color: rgb(0, 255, 170);
    border-radius: 8px;
    transition: all 0.3s ease;
}
button:hover {
    background-color: rgb(0, 255, 170);
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(0, 255, 170);
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
#menu {
    display: none;
    justify-content: center;
    gap: 20px; /* separación horizontal */
    flex-direction: row; /* importante */
}
#contenido {
    display: none;
    color: rgb(0, 255, 170);
    text-align: center;
    background-color: rgba(0, 255, 170, 0.05);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 170, 0.2);
    width: fit-content;
    margin-top: 30px;
}
#contenido.visible {
    display: block;
}
input, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(0, 255, 170);
    background-color: black;
    color: rgb(0, 255, 170);
    margin: 8px;
    text-align: center;
}

input::placeholder {
    color: rgba(0, 255, 170, 0.6);
}